:root {
    --clr-primary-orange: hsl(35, 77%, 62%);
    --clr-primary-red: hsl(5, 85%, 63%);

    --clr-neutral-offwhite: hsl(36, 100%, 99%);
    --clr-neutral-greyishblue: hsl(233, 8%, 79%);
    --clr-neutral-darkgreyblue: hsl(236, 13%, 42%);
    --clr-neutral-verydarkblue: hsl(240, 100%, 5%);

    --ff-all: 'Inter', serif;
}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
    font-family: var(--ff-all);
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--clr-neutral-offwhite);
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-nav-toggle {
    display: none;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  /* Navigation styles */
.main-container {
  /* background-color: var(--clr-neutral-greyishblue); */
  height: 90%;
  width: 70%;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.3fr repeat(2, 1fr) 160px;
  grid-template-areas:
    "header header header"
     "content content news"
     "content content news"
     "trend1 trend2 trend3";
  
}

  .main-nav li {
    display: inline;
    list-style: none;
    text-decoration: none;
    margin-left: 30px;;
  }
  .main-nav li a {
    text-decoration: none;
    color: var(--clr-neutral-verydarkblue);
  }
  li {
    margin-inline-end: 0.75em;
  }
  @media(max-width: 35em) {
     .main-nav {
           position: fixed;
           inset: 0 0 0 30%;
           background-color: var(--clr-neutral-offwhite);
           display: flex;
           flex-direction: column;
           z-index: 1000;
           padding: min(30vh, 10em) 2em;
           row-gap: 1.7em;
           transform: translate(100%);
           transition: transform 350ms ease-out;
    }
    .mobile-nav-toggle {
        display: block;
        z-index: 9999;
        position: absolute;
        background: red;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        background-color: transparent;
        background-image: url(assets/images/icon-menu.svg);
        background-repeat: no-repeat;
        border: 0;
    }
    .mobile-nav-toggle[aria-expanded = "true"]{
      background-image: url(assets/images/icon-menu-close.svg);
    }
    .main-nav[data-visible="true"] {
        transform: translate(0%); 
    }
  } 

/* Button */
 .button-58 {
  align-items: center;
  background-color: var(--clr-primary-red);
  border: 2px solid var(--clr-primary-red);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 4px;
  line-height: 20px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
}

.button-58:focus {
  color: var(--clr-neutral-offwhite);
}

.button-58:hover {
  color: var(--clr-neutral-offwhite);
  background-color: var(--clr-neutral-verydarkblue);
  border-color: var(--clr-neutral-verydarkblue);
  fill: #06f;
}

.button-58:active {
  color: var(--clr-neutral-offwhite);
  background-color: var(--clr-neutral-verydarkblue);
  border-color: var(--clr-neutral-verydarkblue);
  fill: var(--clr-neutral-offwhite);
}

@media (min-width: 768px) {
  .button-58 {
    min-width: 170px;
  }
}

/* Nav Bar */
header {
   display: flex;
  justify-content: space-between;
  padding: 30px 0;
  grid-area: header;
  /* background-color: #06f; */
}
/* Main News */
.main-story {
  /* background-color: palegreen; */
  display: grid;
  grid-template-rows: 1.2fr 0.8fr;
  grid-template-areas: "picture"
                       "h1content";
  grid-area: content;
}
 .main-h1 {
  display: grid;
  grid-template-areas: "heading text";
  grid-area: h1content;
  
}
.main-h1 h1 {
  font-size: 40px;
  font-weight: 800;
  padding-right: 15px;
  grid-area: heading;
  
}
.main-text {
  font-size: 15px;
  grid-area: text;
  margin: 13px 13px 0 13px;
} 
.main-image  {
  grid-area: picture;
  background-image: url(assets/images/image-web-3-desktop.jpg);
  background-position: center center;
  
}


/* New News */
.more-news {
  color: var(--clr-neutral-offwhite);
  background-color: var(--clr-neutral-verydarkblue);
  grid-area: news;
  padding: 1.8em 1.3em;
}
.more-news h2 {
  color: var(--clr-primary-orange);
  font-size: 30px;
}
.fresh-news {
  padding-top: 1.6em;
  padding-bottom: 1em;
  border-bottom: #5c636e solid 1.5px;
}
.fresh-news p {
  color: #738598;
}
.fresh-news-last {
  padding-top: 1.6em;
  padding-bottom: 1em;
}
.fresh-news-last p {
  color: #738598;
}
.fresh-news .topic {
  color: var(--clr-neutral-offwhite);
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}
.fresh-news-last .topic {
  color: var(--clr-neutral-offwhite);
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}

/* Top 3 News */
.top-1 {
  /* background-color: salmon; */
  display: flex;
  grid-area: trend1;
}
.top-one {
  padding: 0 0.75em;
}
.top-one p {
  margin-top: 3.5px;
  font-size: 13.5px;
}
.top-1 .topic {
  font-size: 17px;
  font-weight: 700;
}
.top-1 .ranking {
  font-size: 1.6875em;
  font-weight: 600;
  color: #738598;
}


.top-2 {
  /* background-color: aqua; */
  display: flex;
  grid-area: trend2;
}
.top-two {
  padding: 0 0.75em;
}
.top-two p {
  margin-top: 3.5px;
  font-size: 13.5px;
}
.top-2 .topic {
  font-size: 17px;
  font-weight: 700;
}
.top-2 .ranking {
  font-size: 1.6875em;
  font-weight: 600;
  color: #738598;
}


.top-3 {
  /* background-color: deeppink; */
  display: flex;
  grid-area: trend3;
}
.top-three {
  padding: 0 0.75em;
}
.top-three p {
  margin-top: 3.5px;
  font-size: 13.5px;
}
.top-3 .topic {
  font-size: 17px;
  font-weight: 700;
}
.top-3 .ranking {
  font-size: 1.6875em;
  font-weight: 600;
  color: #738598;
}
























