:root {
    --clr-primary-orange: hsl(35, 77%, 62%);
    --clr-primary-red: hsl(5, 85%, 63%);

    --clr-neutral-offwhite: hsl(36, 100%, 99%);
    --clr-neutral-greyishblue: hsl(233, 8%, 79%);
    --clr-neutral-darkgreyblue: hsl(236, 13%, 42%);
    --clr-neutral-verydarkblue: hsl(240, 100%, 5%);

    --ff-all: "Inter", serif;
}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }