:root {
    --clr-primary-orange: hsl(35, 77%, 62%);
    --clr-primary-red: hsl(5, 85%, 63%);

    --clr-neutral-offwhite: hsl(36, 100%, 99%);
    --clr-neutral-greyishblue: hsl(233, 8%, 79%);
    --clr-neutral-darkgreyblue: hsl(236, 13%, 42%);
    --clr-neutral-verydarkblue: hsl(240, 100%, 5%);

    --ff-all: 'Inter', serif;
}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
    font-family: var(--ff-all);
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--clr-neutral-offwhite);
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-nav-toggle {
    display: none;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  /* Container Styles */
.main-container {
  /* background-color: var(--clr-neutral-greyishblue); */
  height: 100%;
  width: 70%;
  display: grid;
  gap: 3em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px repeat(2, 200px) 125px;
  grid-template-areas:
    "header header header"
     "image image news"
     "content content news"
     "trend1 trend2 trend3";
     margin-top: 10%;
     margin-bottom: 4%;
}

  /* Navigation styles */
.navigation_bar {
  grid-area: header;
  display: flex;
  justify-content: space-between;
}

.main-nav{
  display: flex;
  justify-content: space-around;
}

/* Image */
.main-image {
  grid-area: image;
}
picture {
  object-fit: fill;
}

/* Main Story */
.main-story {
  grid-area: content;
}

/* Main Story */
.more-news {
  grid-area: news;
  display: flex;
}

/* Popular News */
.top-1 {
  grid-area: trend1;
  display: flex;
}

.top-2 {
  grid-area: trend2;
  display: flex;
}

.top-3 {
  grid-area: trend3;
  display: flex;
}











